*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0 auto;
}

header{
    background-color: #ff6900;
    max-width: 100%;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header *{
    border: solid green 2px;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
    padding: 1rem;
}

